<h1>Dashboard home screen</h1>

<div class="container">
  <a routerLink="./weather" routerLinkActive="active">
    <div class="component-item">
      <p>Wrocław</p>
      <h3>Current Weather</h3>
      <p class="temp"><strong>{{ forecastToday | number: '1.0-0' }} °C</strong></p>
    </div>
  </a>

  <a routerLink="./sensors" routerLinkActive="active">
    <div class="component-item">
      <h3>Sensors data</h3>
    </div>
  </a>
</div>


<div class="component-rout">
  <router-outlet></router-outlet>
</div>
