<div class="container">
  <ul>
    <li class="tab-item">
      <a routerLink="/dashboard" routerLinkActive="active">
        Dashboard
      </a></li>
    <li class="tab-item">
      <a routerLink="/customization" routerLinkActive="active">
        Customization
      </a></li>
    <li class="tab-item">
      <a routerLink="/history" routerLinkActive="active">
        History
      </a></li>
    <li class="tab-item">
      <a routerLink="/logs" routerLinkActive="active">
        Logs
      </a></li>
  </ul>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
